html(lang="ko")
	head
		title 우리동네 김밥나라 매출관리
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		link(rel="stylesheet", href="/css/main.css")
		link(rel="stylesheet", href="/css/form.css")
	body

		header
			h1 POS
			p 매출관리

		block content
